/* https://getcssscan.com/css-buttons-examples */
.start-button {
    -fx-background-color: #FFFFFF;
    -fx-border-width: 1px;
    -fx-border-style: solid;
    -fx-border-color: #222222;
    -fx-border-radius: 8px;
    -fx-box-sizing: border-box;
    -fx-text-fill: #222222;
    -fx-cursor: pointer;
    -fx-font-family: 'Circular', -apple-system, BlinkMacSystemFont, Roboto, 'Helvetica Neue', sans-serif;
    -fx-font-size: 16px;
    -fx-font-weight: 600;
    -fx-line-height: 20px;
    -fx-margin: 0;
    -fx-padding: 13px 23px;
    -fx-alignment: center;
    -fx-text-alignment: center;
    -fx-text-decoration: none;
    -fx-touch-action: manipulation;
    -fx-background-insets: 0;
    -fx-border-insets: 0;
    -fx-user-select: none;
    -webkit-user-select: none;
    -fx-min-width: 0;
    -fx-pref-width: -1;
    -fx-max-width: -1;
}

.start-button:focus-visible {
    -fx-background-color: #F7F7F7;
    -fx-border-color: #000000;
}

.start-button:disabled {
    -fx-border-color: #DDDDDD;
    -fx-text-fill: #DDDDDD;
    -fx-cursor: not-allowed;
}

.game-button {
    -fx-background-color: transparent;
    -fx-text-fill: black;
    -fx-font-size: 30px;
    -fx-font-family: Arial, sans-serif;
    -fx-border-top-width: 8px;
    -fx-border-style: solid;
    -fx-border-color: black;
    -fx-min-width: 100px;
    -fx-min-height: 100px;
    -fx-max-width: 100px;
    -fx-max-height: 100px;

}